* {
  box-sizing: border-box;
}

body {
  background-color: #3498db;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.app {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  text-align: center;
}

.screen h1 {
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.button__wrapper {
  width: 50%;
  padding: 0.3rem;
}

.button {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  width: 100%;
  padding: 1rem;
  background-color: #ecf0f1;
  color: #2c3e50;
  font-size: 1em;
}

.button:hover,
.button:focus {
  background-color: #bdc3c7;
}

.button:active {
  background-color: #95a5a6;
}

.button--idk {
  background-color: #e74c3c;
  color: #ecf0f1;
}

.button--idk:hover,
.button--idk:focus {
  background-color: #c0392b;
}
